body {
    margin: 0;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    width: 200px;
    border-radius: 100%;
}

.MainTitle {
    background-color: #8BAE91;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    
}

#Title {
    margin: 0;
    font-size: 100%;
    color: white;
    padding-bottom: 0;
    
}
#STitle{
    padding-bottom: 50px;
    margin: 0;
    font-size: 45%;
    color: whitesmoke;
    font-family: serif
}

.navbar {
    background-color: #627264;
    margin: 0;
    border: 7px;
    padding: 7px;
    font-size: 37%;
    justify-content: center;
    text-align: center;
    color: white;
}
.navbar a{
    padding: 15px 40px;
}

.btn {
    text-decoration: none;
    font-size: 100%;
    color: white;
    background-color: #8BAE91;
    border: 2px solid #8BAE91;
    margin: 7px;
    padding: 17px 0px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    border: 2px solid #627264;
}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}
li{
    list-style: none;
}

i {
    margin: 5px;
}

.subtitulo{
    font-family: serif
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#bloque1{
    flex-direction: row;
    margin: 0;
    padding: 10px;
    background-color: whitesmoke;
    font-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#bloque1 .izquierda{
    z-index: 2;
    margin: 0;
    font-size: 45%;
    left: 5%;
    position: absolute;
}
#bloque1 img{
    border-radius: 100px;
    margin: 0;
    opacity: 50%;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 25px;
}
#bloque1 .derecha{
    background-color: whitesmoke;
    margin: 0;
    font-size: 45%;
    right: 35%;
}


#bloque2{
    flex-direction: row;
    background-color: whitesmoke;
    margin: 0;
    padding: 10px;
    font-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#bloque2 .izquierda{
    color: black;
    background-color: whitesmoke;
    margin: 0;
    font-size: 45%;
}

#bloque2 img{
    border-radius: 100px;
    margin: 20px;
    opacity: 50%;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 25px;
}

#bloque2 .derecha{
    z-index: 2;
    margin: 0;
    font-size: 45%;
    right: 2.5%;
    position: absolute;
}

.flex-container .card{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 30px;
    margin: 10px;
    margin-top: 0;
    
}
.card .subtitulo{
    font-size: 30%;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    font-size: 100%;
  }

.card img{
    border-radius: 5px;
    width: 100%;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h4{
    font-size: 50%;
}

.card p{
    font-size: 45%;
}
.container {
    padding: 2px 16px;
}









footer{
    background-color: #627264;
    margin: 0;
    font-size: 100%;
    padding: 20px;
    padding-bottom: 5px;
}

.footer-cont{
    font-size: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p{
    font-size: 75%;
    color: white;
}

footer a{
    padding: 15px 40px; 
}


@media (max-width:1048px) {
    .flex-container{
        flex-direction: column;
    }
    #bloque1 .izquierda{
        align-items: center;
        text-align: center;
        position: inherit;
        font-size: 45%;
    }
    #bloque1 img{
        border-radius: 100px;
        margin: 0;
        opacity: 50%;
        z-index: 1;
        position: relative;
        width: 70%;
        padding: 25px;
    }
    #bloque1 .derecha{
        background-color: whitesmoke;
        padding: 30px;
    }
    .flex-container #bloque2{
        flex-direction: column-reverse;
    }
    #bloque2 .izquierda{
        font-size: 40%;
        padding: 30px;
    }
    
    #bloque2 img{
        border-radius: 100px;
        margin: 0;
        opacity: 50%;
        z-index: 1;
        position: relative;
        width: 70%;
        padding: 25px;
    }
    #bloque2 .derecha{
        align-items: center;
        text-align: center;
        position: inherit;
        font-size: 45%;

    }
}